h1 {
    padding-top: 30px;
}

h3,
h5,
#chat-window {
    padding-top: 15px;
}

.welcome-section,
#peer-list,
#chat-window {
    overflow-y: auto;
    overflow-wrap: break-word;
}

.main {
    max-width: 1000px;
    height: 100vh;
}

.panel-1 {
    color: #fff;
    background-color: #162e45;
}

.panel-2 {
    color: #fff;
    background-color: #33a1cd;
}

.panel-3 {
    color: #000;
    background-color: #a1dcf3;
}

.row-1 {
    height: 15vh;
}

.row-2 {
    height: 60vh;
}

.row-2-1 {
    height: 20vh;
}

.row-2-2 {
    height: 40vh;
}

.row-3 {
    height: 25vh;
}

.input-controls {
    margin-top: 15px;
}

.new-peer-warning {
    color: #ff0000;
    float: left;
    display: none;
}
